* {
    margin: 0;
    padding: 0;
}

:root {
    --green: #88ff00;
    --dark-grey: #262626;
    --light-grey: #3b3b3b;
    --og-frame: url("../images/new-frame.png");
    --base: url("../images/base.png");
    --background-color: blueviolet;
}

body {
    position: relative;
    max-width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color);
}

#omnitrix {
    position: relative;
    width: 480px;
    height: 480px;

    background-image: var(--base);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
}

/* Mid Section (Square + Display) */

#omnitrix .frame {
    position: relative;
    width: 290px;
    height: 290px;
    box-sizing: border-box;

    z-index: 10000;
    border-radius: 50%;

    overflow: hidden;
    transition: 200ms ease-in;
}

#omnitrix .frame:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-image: var(--og-frame);
    background-size: contain;
}

#omnitrix .frame.rotate-right:before {
    animation: rotateRight 500ms ease;
}

#omnitrix .frame.rotate-left:before {
    animation: rotateLeft 500ms ease;
}

#omnitrix .frame:after {
    content: "";
    position: absolute;
    width: 92%;
    height: 92%;
    top: 4%;
    left: 4%;
    border-radius: 50%;
    background-color: rgb(235, 235, 235);
    transition: all 100ms ease;
}

#omnitrix .frame.active:after {
    background-color: rgb(136, 255, 0);
}

#omnitrix .frame.inactive:after {
    background-color: rgb(255, 0, 0);
}

/* Display */

#omnitrix .frame .inner-frames {
    position: absolute;
    width: 92%;
    height: 92%;
    left: 4%;
    top: 4%;
    border-radius: 50%;
    overflow: hidden;
}

#omnitrix .inner-frames .inner-frame {
    position: absolute;
    width: 260px;
    height: 80%;
    top: 10%;

    box-sizing: border-box;

    z-index: 100;
    /* border: 8px solid black;
  background-color: rgb(54, 54, 54); */
    background-size: cover;
    background-position: 0;
    border-radius: 10px;

    /* transform: rotate(45deg); */
}

#omnitrix .inner-frames .inner-frame:nth-child(1) {
    background-image: url("../images/sides_test.png");
    left: -55%;
/*     animation: joinSideLeft 2s infinite ease-in; */
}

#omnitrix .inner-frames .inner-frame:nth-child(2) {
    background-image: url("../images/right_side.png");
    right: -55%;
/*     animation: joinSideRight 2s infinite ease-in; */
}

/* Green Button */

#omnitrix .green-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 25px;
    left: 50%;

    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0px -5px 0px 5px rgb(114, 114, 114);
    background-color: var(--green);
}

/* Lights */

#omnitrix .lights {
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgb(9, 255, 0);
    border-radius: 50%;
    z-index: 1000000000;
}

/* Animations */

@keyframes rotateRight {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateLeft {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotateDisplay {
    0% {
        transform: scale(1.1) rotate(0deg);
    }

    100% {
        transform: scale(1.1) rotate(360deg);
    }
}

@keyframes rotateDisplayBack {
    0% {
        transform: scale(1.1) rotate(0deg);
    }

    100% {
        transform: scale(1.1) rotate(-360deg);
    }
}

@keyframes joinSideLeft {
    100% {
        left: -10%;
    }
}

@keyframes joinSideRight {
    100% {
        right: -10%;
    }
}

@keyframes smashLight {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }

    90% {
        opacity: 100%;
    }

    99% {
        width: 130vw;
        height: 130vw;
        opacity: 0;
    }

    100% {
        width: 0;
        height: 0;
    }
}

/* General */
.invisible {
    display: none !important;
}

#alienName {
    position: absolute;
    top: 20px;
    margin-inline: auto;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 4px black;
    /*-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;*/
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#playlist {
    position: absolute;
    bottom: 20px;
    margin-inline: auto;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 4px black;
    /*-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;*/
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 500px) {
    #omnitrix {
        height: 300px;
        width: 300px;
    }

    #omnitrix .mid-portion .frame {
        height: 170px;
        width: 170px;
    }

    #omnitrix .inner-frames .inner-frame {
        width: 130px;
    }

    #omnitrix .inner-frames .inner-frame:nth-child(1) {
        left: -45%;
    }

    #omnitrix .inner-frames .inner-frame:nth-child(2) {
        right: -45%;
    }
}
