* {
    margin: 0;
    padding: 0;
}

:root {
    --green: #88ff00;
    --dark-grey: #262626;
    --light-grey: #3b3b3b;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: blueviolet;
}

#omnitrix {
    position: relative;
    width: 400px;
    height: 480px;
    background-color: var(--dark-grey);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
}

/* Mid Section (Square + Display) */

#omnitrix .mid-portion {
    position: relative;
    width: 290px;
    height: 290px;
    background-color: var(--light-grey);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
}

#omnitrix .mid-portion .frame {
    position: relative;
    width: 290px;
    height: 290px;
    box-sizing: border-box;

    z-index: 10000;
    /* border: 25px solid #949494; */
    border-radius: 50%;

    overflow: hidden;
    transition: 200ms ease-in;
}

#omnitrix .mid-portion .frame:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-image: url("../images/new-frame.png");
    background-size: contain;
}

#omnitrix .mid-portion .frame.rotate-right:before {
    animation: rotateRight 1s ease;
}

#omnitrix .mid-portion .frame.rotate-left:before {
    animation: rotateLeft 1s ease;
}

#omnitrix .mid-portion .frame:after {
    content: "";
    position: absolute;
    width: 92%;
    height: 92%;
    top: 4%;
    left: 4%;
    border-radius: 50%;
    background-color: rgb(235, 235, 235);
    transition: all 100ms ease;
}

#omnitrix .mid-portion .frame.active:after {
    background-color: rgb(136, 255, 0);
}

#omnitrix .mid-portion .frame.inactive:after {
    background-color: rgb(255, 0, 0);
}

/* Display */

#omnitrix .mid-portion .frame .inner-frames {
    position: absolute;
    width: 92%;
    height: 92%;
    left: 4%;
    top: 4%;
    border-radius: 50%;
    overflow: hidden;
}

#omnitrix .inner-frames .inner-frame {
    position: absolute;
    width: 260px;
    height: 80%;
    top: 10%;

    box-sizing: border-box;

    z-index: 100;
    /* border: 8px solid black;
  background-color: rgb(54, 54, 54); */
    background-size: cover;
    background-position: 0;
    border-radius: 10px;

    /* transform: rotate(45deg); */
}

#omnitrix .inner-frames .inner-frame:nth-child(1) {
    background-image: url("../images/sides_test.png");
    left: -55%;
    /* animation: joinSideLeft 2s infinite ease-in; */
}

#omnitrix .inner-frames .inner-frame:nth-child(2) {
    background-image: url("../images/right_side.png");
    right: -55%;
    /* animation: joinSideRight 2s infinite ease-in; */
}

/* White Strips */

#omnitrix .white-strips {
    position: absolute;
    width: 100%;
    height: 100%;
}

#omnitrix .white-strip {
    position: absolute;
    width: 80px;
    height: 110px;

    background-color: white;

    border-radius: 10px;
}

#omnitrix .white-strip:nth-child(1) {
    top: -7%;
    left: 5%;
}

#omnitrix .white-strip:nth-child(2) {
    top: -7%;
    right: 5%;
}

#omnitrix .white-strip:nth-child(3) {
    bottom: -7%;
    left: 5%;
}

#omnitrix .white-strip:nth-child(4) {
    bottom: -7%;
    right: 5%;
}

/* Green Button */

#omnitrix .green-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);
    border-radius: 50%;
    border: 6px solid rgb(114, 114, 114);
    background-color: var(--green);
    /* background-image: radial-gradient(rgb(144, 231, 31), rgb(94, 235, 13)); */
}

/* Lights */

#omnitrix .lights {
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgb(9, 255, 0);
    border-radius: 50%;
    z-index: 1000000000;
}

/* Animations */

@keyframes rotateRight {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateLeft {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotateDisplay {
    0% {
        transform: scale(1.1) rotate(0deg);
    }

    100% {
        transform: scale(1.1) rotate(360deg);
    }
}

@keyframes rotateDisplayBack {
    0% {
        transform: scale(1.1) rotate(0deg);
    }

    100% {
        transform: scale(1.1) rotate(-360deg);
    }
}

@keyframes joinSideLeft {
    100% {
        left: 0;
    }
}

@keyframes joinSideRight {
    100% {
        right: 0;
    }
}

@keyframes smashLight {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }

    90% {
        opacity: 100%;
    }

    99% {
        width: 130vw;
        height: 130vw;
        opacity: 0;
    }

    100% {
        width: 0;
        height: 0;
    }
}

/* General */
.invisible {
    display: none !important;
}

#alienName {
    position: absolute;
    top: 10%;
    margin-inline: auto;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
