* {
    padding: 0;
    margin: 0;

    font-family: "VT323", monospace;
}

:root {
    --background-color: #0d0318;
    --space-color: #000;
    --neon-glow: #07d100;
    --spinner: url("../assets/videos/loading/Spinner-3.3s-200px.gif");
}

body {
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--space-color);
}

main {
    position: relative;
    width: 100%;
    height: 100%;

    background-color: var(--space-color);

    background-size: 120%;
    background-position: center;
    background-blend-mode: color;
}

.loading {
    z-index: 10000;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--space-color);
    transition: 200ms opacity ease;
    background-image: url("../assets/videos/loading/Spinner-3.3s-200px.gif");
    background-position: center;
    background-repeat: no-repeat;
}

.planet-card {
    backface-visibility: hidden;
    position: fixed;
    width: 40%;
    /* height: 50%; */
    height: auto;
    top: 25%;
    left: 30%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    z-index: 100000;

    background-color: var(--space-color);
    border: 5px solid var(--neon-glow);
    color: var(--neon-glow);
    padding: 30px 15px;
    box-sizing: border-box;

    display: none;
}

.planet-card > * {
    width: 30%;
    margin-inline: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.planet-card > *:nth-child(1) {
    align-items: flex-start;
    justify-content: flex-start;
}

.planet-card > *:nth-child(2) {
    align-items: flex-end;
    justify-content: space-between;
}

.planet-card img {
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--space-color);
    border: 3px solid var(--neon-glow);
    width: 100%;
}

.planet-card h1 {
    font-size: 3em;
}

.planet-card h3 {
    font-size: 2em;
}

.planet-card i {
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
}

.planet-card button {
    font-size: 1.5em;
    color: var(--neon-glow);
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;

    border: 3px solid var(--neon-glow);
    background-color: var(--space-color);
}

.planets {
    position: relative;
    width: 100%;
    height: 100%;
}

.planet {
    position: absolute;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

.planet:hover {
    border: 3px solid var(--neon-glow);
}

.credits {
    backface-visibility: hidden;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.credits a {
    font-size: 1.5em;
    color: #fff;
}

@media screen and (max-width: 500px) {
    /* .planet img {
        position: relative;
        width: 50%;
        height: 50%;
    } */

    .planets {
        width: 100vh;
        height: 100vw;
    }

    .planet-card {
        position: fixed;
        width: 80%;
        height: 60%;
        top: 20%;
        left: 10%;
    }

    .planet-card > * {
        width: 100%;
    }

    .planet-card img {
        padding: 3px;
        border-radius: 10px;
        width: 100%;
    }

    .planet-card h1 {
        margin-top: 40px;
        font-size: 2em;
    }

    .planet-card h3 {
        margin-top: 10px;
        font-size: 1.5em;
    }

    .planet-card button {
        font-size: 1.2em;
        color: #ddd;
        padding: 10px;
        cursor: pointer;

        background-color: var(--background-color);
    }
}
